<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <wicket:panel>
        <span wicket:id="feedback"></span>
        <form wicket:id="updateIssueForm">

            Issue relates to ID:
            <input type="text" wicket:id="issueRelatesToId" size="30"/>
            <select wicket:id="statusDropDown"></select><br/><br/>
            <select wicket:id="relTypeDropDown"></select><br/>
            <input type="submit" value="Update Issue"/>
        </form>

    </wicket:panel>  
</body>
</html>
