<!DOCTYPE html>
<wicket:panel>
    <table cellpadding="8" border="1">
        <tr>
            <td width="200">Name</td>
            <td width="200">Assigned Projects</td>
            <td width="200">&nbsp;</td>
        </tr>
        <tr wicket:id="workflowList">
            <td><a href="#" wicket:id="showWorkflow"><span wicket:id="name"/></a></td>
            <td><div wicket:id="projectListView"/></td>
            <td><a href="#" wicket:id="remove">[remove]</a></td>
        </tr>
    </table>
</wicket:panel>
