<!DOCTYPE html>
    <wicket:panel>
        <table cellpadding="8">
            <tr>
                <td width="200" wicket:id="projectNameLabel"/>
                <td width="200" wicket:id="projectLeadLabel"/>
            </tr>
            <tr wicket:id="projectList">
                <td>
                    <a href="#" wicket:id="showProject">
                        <span wicket:id="name"/>
                    </a>
                </td>
                <td><span wicket:id="projectLead"/></td>
            </tr>
        </table>
    </wicket:panel>
