<!DOCTYPE html>
    <wicket:panel>
        <table cellpadding="8">
            <tr>
                <td width="200">Name</td>
                <td width="200">Project Leader</td>
            </tr>
            <tr wicket:id="projectList">
                <td>
                    <a href="#" wicket:id="showProject">
                        <span wicket:id="name"/>
                    </a>
                </td>
                <td><span wicket:id="projectLead"/></td>
            </tr>
        </table>
    </wicket:panel>
