<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <wicket:panel>
        <form action="#" method="post" wicket:id="insertForm" enctype="application/x-www-form-urlencoded">
            <input type="text" wicket:id="email" required title="Username required" placeholder="Username">
            <input type="password" wicket:id="password" required title="Password required" placeholder="Password">
            <input type="submit" value="Login"/>
        </form>
    </wicket:panel>
</body>
</html>
