<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>

    <wicket:panel>
        <span wicket:id="name">My label</span>

        <ul id='nav'>
            <li><a href="#">Projects</a>
                <ul  wicket:id="projectTasks" >
                    <li><a href="#" wicket:id="actionLink"><span wicket:id="name">[name]</span></a></li>
                </ul>
            </li>
        </ul>    
        <ul id='nav'>
            <li><a href="#">Issues</a>
                <ul  wicket:id="issueTasks" >
                    <li><a href="#" wicket:id="actionLink"><span wicket:id="name">[name]</span></a></li>
                </ul>
            </li>
        </ul>   
        <ul id='nav'>
            <li><a href="#">Workflow</a>
                <ul  wicket:id="workflowTasks" >
                    <li><a href="#" wicket:id="actionLink"><span wicket:id="name">[name]</span></a></li>
                </ul>
            </li>
        </ul>   
    </wicket:panel>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>	
    <script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js" type="text/javascript"></script>
    <script type="text/javascript" src="scripts.js"></script>
</body>
</html>
