<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>

<wicket:panel>
    <hr/>
    <span wicket:id="name"/><br/>
    <a href="#" align="right" wicket:id="signInLink">Sign in!</a>
    <span align="right" wicket:id="userName"/>
    <a href="#" align="right" wicket:id="signOutLink">Sign out!</a>

        <ul id="nav">
            <li>
                <span wicket:id="projectsLabel"/>
                <ul wicket:id="projectTasks" >
                    <li><a href="#" wicket:id="actionLink"><span wicket:id="name"/></a></li>
                </ul>
            </li>
        </ul>    
        <ul id="nav">
            <li>
                <span wicket:id="issuesLabel"/>
                <ul wicket:id="issueTasks" >
                    <li><a href="#" wicket:id="actionLink"><span wicket:id="name"/></a></li>
                </ul>
            </li>
        </ul>
        <ul id="nav" wicket:id="workflowUl">
            <li>
                <span wicket:id="workflowLabel"/>
                <ul wicket:id="workflowTasks" >
                    <li><a href="#" wicket:id="actionLink"><span wicket:id="name"/></a></li>
                </ul>
            </li>
        </ul>
        <ul id='nav'>
            <li><a href="#" wicket:id="importerLink">Import issues</a></li>
        </ul>
    </wicket:panel>
</body>
</html>
