<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <wicket:panel>
        <p>
            <span wicket:id="name"></span>
        <table cellpadding="8">
            <tr>
                <td width="200">Name</td>
            </tr>
            <tr wicket:id="watchersListView">
                <td><span wicket:id="name"></span></td>
            </tr>
        </table>
    </p>
</wicket:panel>
</body>
</html>
