<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <wicket:panel>
        <span wicket:id="feedback"></span>
        <!--<div wicket:id="wmc">-->
            <table cellpadding="8">
                <tr wicket:id="commentsList">
                    <td><span wicket:id="comment"></span></td>

                    <td><a href="#" wicket:id="remove">x</a></td>
                </tr>
            </table>
        <!--</div>-->
    </wicket:panel>
</body>
</html>
