<!DOCTYPE html>
    <wicket:panel>
        <!--<div wicket:id="wmc">-->
            <table cellpadding="8" border="1">
                <tr wicket:id="commentsList">
                    
                    <td>
                        <span wicket:id="author"/> wrote: 
                        <br/>
                        <span wicket:id="comment"/>, id: 
                        <span wicket:id="commentID"/>
                    </td>

                    <td><a href="#" wicket:id="remove">x</a></td>
                </tr>
            </table>
        <!--</div>-->
    </wicket:panel>