<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <wicket:panel>
        <table cellpadding="8">
            <tr wicket:id="customFields">
                <td><span wicket:id="name"></span></td>
                <td><span wicket:id="value"></span></td>
                <td><a href="#" wicket:id="delete">[x]</a></td>
            </tr>
        </table>
    </wicket:panel>
</body>
</html>
