<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>IShoe</display-name>

    <!-- Enable Wicket -->
    <filter>
        <filter-name>Wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <!-- Specify the "entry point" for Wicket to configure itself 
            from -->
            <param-name>applicationClassName</param-name>
            <param-value>com.issuetracker.web.IssueWeb</param-value>
        </init-param>
    </filter>

    <!-- Have wicket manage the context root -->
    <filter-mapping>
        <filter-name>Wicket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- A message displayed on the page, externalized into web.xml -->
    <env-entry>
        <env-entry-name>welcomeMessage</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Welcome to the IShoe - Issue tracking system</env-entry-value>
    </env-entry>
    
    <context-param>
        <param-name>configuration</param-name>
        <param-value>development</param-value>
    </context-param>
    
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>issue-tracker</realm-name>
    </login-config>
    
    <security-role>
        <role-name>user</role-name>
    </security-role>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Users</web-resource-name>
            <!--<url-pattern>/*</url-pattern>-->
            <url-pattern>/login/*</url-pattern>
            <!--            <url-pattern>/newProject/*</url-pattern>
            <url-pattern>/newIssue/*</url-pattern>
            <url-pattern>/newIssueType/*</url-pattern>
            <url-pattern>/createStatus/*</url-pattern>
            <url-pattern>/createWorkflow/*</url-pattern>-->
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!--    <error-page>
        <error-code>400</error-code>
        <location>/home</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/home</location>
    </error-page>-->

</web-app>

